{
	"compiler": "component",
	"name": "oniui",
	"version": "0.3.6",
	"author": "jifeng.yao, yayu.wang, Hotel",
	"email": "jifeng.yao@qunar.com, yayu.wang@qunar.com",
	"dependencies": {
		"avalon": "1.3.9 - 1.4.1"
	},
	"repository": "http://gitlab.corp.qunar.com/fed/oniui",
	"description": "oniUI modules规范版本",
	"alias": {
		
	},
	"export": []
}